.App {
  text-align: center;
}

.homeLink,
.menuLink,
.loginLink {
  color: goldenrod;
}


/* Add this to your existing CSS or create a new stylesheet */
.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* Use flexbox to create a horizontal layout */
  background-color: ghostwhite;
  padding: 20px;
  columns: black;
  box-shadow: 0 0 10px 0;
}

/* this means every Item in the navbar. */
.navBar>* {
  flex: 1 1 0px;

}

.navBar>a>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  /* Use flexbox to create a horizontal layout for the links */
  list-style: none;
  /* Remove default list styling */
  margin: 0;
  /* Remove default margin for the list */
  padding: 0;
  /* Remove default padding for the list */
  font-family: fantasy;
  /* this is to make the links center in the y-axis */
  align-items: center;
}

.navLinks .nav-item {
  margin-left: 0;
  /* Add some spacing between the links */
}

/* Add your other styles for the links as needed */
.navLinks .nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.navLinks .nav-link:hover {
  background-color: #eb131b;
}

.homeLink2 {
  .nav-link:hover {
    background-color: purple;
  }
}

body {
  background-image:
    url('https://static.vecteezy.com/system/resources/previews/004/447/761/original/abstract-red-fluid-wave-background-free-vector.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*Use 'scroll' to make the header and footer scroll with the background.*/
  background-size: cover;
}

.CarouselBtn {
  transition-duration: .4s;
  border-radius: 8px;
  background-color: aliceblue;
}

.CarouselBtn:hover {
  background-color: #eb131b;
}

.basketLogo {
  position: relative;
}

.basketcount {
  position: absolute;
}

.itemCount {
  position: absolute;
}