
.App {
  text-align: center;
}

/* Add this to your existing CSS or create a new stylesheet */
.navBar {
  display: flex; /* Use flexbox to create a horizontal layout */
  background-color: ghostwhite;
  padding: 20px;
  columns: black;
  box-shadow: 0 0 10px 0;
}

.navLinks {
  display: flex; /* Use flexbox to create a horizontal layout for the links */
  list-style: none; /* Remove default list styling */
  margin: 0; /* Remove default margin for the list */
  padding: 0; /* Remove default padding for the list */
}

.navLinks .nav-item {
  margin-left: 0; /* Add some spacing between the links */
}

/* Add your other styles for the links as needed */
.navLinks .nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.navLinks .nav-link:hover {
  background-color: #eb131b;
}